<mat-card #userList [hidden]="formUser">
    <div class="spinner-container" *ngIf="mainSpinner">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card-title>
        <h4>Lista de Usuarios</h4>
    </mat-card-title>

    <mat-card-content *ngIf="auth.hasActionResource('Create')">
        <button mat-raised-button class="button-purple" style="margin-bottom: 15px;" (click)="showFormUser()"><mat-icon>person_add</mat-icon> NUEVO USUARIO</button>
    </mat-card-content>

    <mat-card-content>
        <div class="mat-elevation-z2">
            <mat-toolbar class="table-search">
                <input matInput placeholder="Buscar..." style="border: none;" (keyup)="applyFilter(filter)" [(ngModel)]="filter">
            </mat-toolbar>

            <mat-table [dataSource]="dataSource" matSort>
                <!-- actions -->
                <ng-container matColumnDef="UserId">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button id="btn-edit" mat-icon-button color="default" (click)="showFormUser(element.UserId)" *ngIf="auth.hasActionResource('Update')">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="FirstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> P. Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.FirstName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="SecondName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> S. Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.SecondName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Surname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> P. Apellido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Surname}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="SecondSurname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> S. Apellido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.SecondSurname}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.Email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="State">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div class="cicle-status" [ngClass]="{'status-active': element.State, 'status-diactive': !element.State }"></div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <p style="margin: 0; padding: 20px 30px;" *ngIf="!dataSource.filteredData.length">No se encontaron registros.</p>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<mat-card #formUser id="form-user" class="mat-card-form" *ngIf="formUser">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card-title>
        <h4>{{ currentUser ? 'Editar Usuario' : 'Nuevo Usuario' }}</h4>
    </mat-card-title>

    <mat-card-content>
        <form novalidate autocomplete="off">
            <mat-form-field>
                <span class="input-requiered">*</span>
                <input matInput placeholder="Correo Electrónico" [(ngModel)]="user.Email" name="email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <span class="input-requiered">*</span>
                <input matInput placeholder="Primer Nombre" [(ngModel)]="user.FirstName" name="firstName" [formControl]="firstname" required>
                <mat-error *ngIf="firstname.invalid">{{ getErrorMessage(firstname) }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Segundo Nombre" [(ngModel)]="user.SecondName" name="secondName">
            </mat-form-field>

            <mat-form-field>
                <span class="input-requiered">*</span>
                <input matInput placeholder="Primer Apellido" [(ngModel)]="user.Surname" name="surname" [formControl]="surname" required>
                <mat-error *ngIf="surname.invalid">{{ getErrorMessage(surname) }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Segundo Apellido" [(ngModel)]="user.SecondSurname" name="secondSurname">
            </mat-form-field>

            <div *ngIf="!currentUser">
                <mat-form-field>
                    <span class="input-requiered">*</span>
                    <input matInput type="password" placeholder="Contraseña" [(ngModel)]="user.Password" name="password" [formControl]="password" required autocomplete="new-password">
                    <mat-error *ngIf="password.invalid">{{ getErrorMessage(password) }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <span class="input-requiered">*</span>
                    <input matInput type="password" placeholder="Confirme su Contraseña" [(ngModel)]="user.PasswordConfirm" name="passwordConfirm" [formControl]="passwordConfirm" required autocomplete="new-password">
                    <mat-error *ngIf="passwordConfirm.invalid">{{ getErrorMessage(passwordConfirm) }}</mat-error>
                </mat-form-field>
                <small class="input-dirty mat-form-field" *ngIf="user.PasswordConfirm && user.Password !== user.PasswordConfirm">Contrasennas no coinciden</small>
            </div>

            <mat-checkbox [(ngModel)]="user.State" *ngIf="currentUser" name="state" style="margin-left: 10%;">Estatus</mat-checkbox>

            <div class="form-button">
                <button mat-button class="button-purple" style="margin-bottom: 15px; margin-right: 15px;" (click)="hideFormUser()">VOLVER</button>

                <button mat-raised-button [disabled]="formInvalid()" [ngClass]="{'button-purple': !currentUser, 'button-green': currentUser}" style="margin-bottom: 15px;" (click)="submitForm(user)">{{ currentUser ? 'MODIFICAR' : 'GUARDAR' }} <mat-icon style="margin-left: 10px;">save</mat-icon></button>
            </div>
        </form>
    </mat-card-content>
</mat-card>