.mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}

.mat-form-field {
    width: 80%;
    margin-bottom: 15px;
}

#form-edit-assigned-service {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mat-dialog-content {
  max-height: none;
}
