<mat-card #form id="form-user" class="mat-card-form">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <mat-card-title>
        <h4 style="text-align: center;">{{ !recoveryPassword ? 'Cambiar' : 'Recuperar' }} Contraseña</h4>
    </mat-card-title>

    <mat-card-content>
        <form novalidate autocomplete="off">
            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña" [(ngModel)]="user.Password" name="password" [formControl]="password" required autocomplete="new-password">
                <mat-error *ngIf="password.invalid">{{ getErrorMessage(password) }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Confirme su Contraseña" [(ngModel)]="user.PasswordConfirm" name="passwordConfirm" [formControl]="passwordConfirm" required autocomplete="new-password">
                <mat-error *ngIf="passwordConfirm.invalid">{{ getErrorMessage(passwordConfirm) }}</mat-error>
            </mat-form-field>
            <small class="input-dirty mat-form-field" *ngIf="user.PasswordConfirm && user.Password !== user.PasswordConfirm">Contraseñas no coinciden</small>

            <button mat-raised-button [disabled]="formInvalid()" class="button-purple" (click)="submitForm(user)">ACEPTAR</button>
        </form>
    </mat-card-content>
</mat-card>
