#header {
    background-color: #FFF;
    border-bottom: solid 1px #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
}

.brand-logo {
  margin-right: 60px;
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    height: 64px;
    list-style: none;
}

.header-nav-link {
    text-decoration: none;
    padding: 16px 10px;
    margin: 0 10px;
    /* color: #32347B; */
    color: #00AFD3;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.header-nav-link.user-logged .mat-icon {
    display: inline-block;
    vertical-align: top;
}

.header-nav-link.user-logged {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 180px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header-nav-link:hover {
    /* background-color: #797AB2; */
    background-color: rgba(0, 176, 211, 0.664);
    color: #FFF;
}

.mat-drawer-content {
    height: auto;
}

#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    background: #FFF;
    flex-flow: column wrap;
}

#sidenav .mat-nav-list,
.mat-divider {
    width: 100%;
}

#sidenav .user-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: flex-end;
}

#sidenav .user-list-item .user-list-item-name {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 75%;
  font-size: 14px;
  color: #00AFD3;
}

#sidenav .mat-list-item.active {
    color: #FFF;
    /* background-color: #32347B; */
    background-color: #00AFD3;
}

#sidenav .mat-nav-list .mat-list-item {
    font-size: 14px;
}

#sidenav .mat-list-item .mat-icon {
    margin-right: 15px;
}

#sidenav button.mat-icon-button:focus {
    background-color: #f7f7f7;
}

#sidenav .mat-icon-button .mat-icon {
    margin: 0;
    font-size: 20px;
}

#outlet-container {
    margin: 30px;
    margin-top: 100px;
}

footer {
    background-color: #566E82;
    color: #FFF;
    text-align: center;
    padding: 20px;
}

@media (max-width: 900px) {
  #sidenav {
    width: 260px;
  }

  #main-nav-list {
    height: calc(100% - 50px);
    overflow-y: scroll;
  }

  .mat-expansion-panel-header-title.active {
    color: #00AFD3;
  }

  .mat-expansion-panel-spacing {
    margin: 0;
  }

  .brand-logo {
    position: absolute;
    margin: 0;
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  #sidenav {
    width: calc(100% - 30px);
  }
}
