.mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}

.mat-dialog-content {
    overflow: visible;
    max-height: none;
    margin-bottom: 30px;
}

#form-patients {
    display: flex;
    flex-flow: row wrap;
}

.mat-card-form {
    width: 900px;
    margin: auto;
}

.mat-form-field {
    margin-right: 15px;
}