<div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<h2 mat-dialog-title>Cancelar visitas
    <button mat-icon-button mat-dialog-close style="float: right;" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<p class="title-comment">Los campos con * son obligatorios</p>

<mat-dialog-content>
    <form novalidate autocomplete="off" id="form-quality-test">
        <table class="table-info" *ngIf="visits.length ? true : false">
            <thead>
                <tr>
                    <th>Numero de visita</th>
                    <th>Motivo de Cancelacion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let visit of visits; let i = index;">
                    <td>{{ visit.Consecutive }}</td>
                    <td style="width: 80%;">
                        <mat-form-field style="width: 100%;">
                            <mat-select placeholder="Razon de cancelacion" [(ngModel)]="visit.cancelReasonId" [name]="'answer-' + i" required>
                                <mat-option *ngFor="let reason of cancelReasons" [value]="reason.id">
                                    {{ reason.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="form-button">
        <button mat-button mat-dialog-close>SALIR</button>
        <button mat-raised-button class="button-purple" style="margin-bottom: 15px;" (click)="submitForm(visits)" [disabled]="formInvalid()">GUARDAR
      <mat-icon style="margin-left: 10px;">save</mat-icon>
    </button>
    </div>
</mat-dialog-actions>